body {
  font-family: 'Verdana', sans-serif; 
  background-color: #f0f0f0; 
  margin: 0;
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.container {
  width: 400px;
  background-color: #E3F2FD; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  padding: 30px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; 
}

.campo {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; 
}

input,
textarea {
  width: 80%; /* Ajusta el ancho al 80% del contenedor */
  padding: 8px;
  border: 1px solid #E0C097; 
  border-radius: 3px; 
  font-size: 16px; 
  margin: 0 auto; /* Centra los campos dentro del contenedor */
  display: block;
}

.button-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

button { 
  background-color: #2092b8d2; /* Color azul cielo fuerte */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; 
}

button:hover {
  background-color: #009ACD; /* Color azul cielo oscuro en hover */
}

#mensaje {
  margin-top: 20px;
  text-align: center;
}
